<!-- Importa o header -->
<%- include('../partials/header') %>

<!-- MAIN : Com o conteúdo da página -->
<main>

    <h1> Estou na página Produtos / Cadastrar </h1>

</main>

<!-- Importa o footer -->
<%- include('../partials/footer') %>